
#Grid {
  max-width: 1200px;
  /* set your desired maximum width here */
  margin: 0 auto;
  /* center the grid horizontally */
  margin-bottom: 0px;
  text-align: justify;
  font-size: 0.1px;
}

#Grid li {
  display: inline-block;
  background: #ffffff;
  width: 170px;
  padding-top: 5px;
  /* Used instead of height to give elements fluid, width-based height */
  margin-bottom: 2.5%;
}


#Grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}




/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */

/* 3 COL */

@media (max-width: 800px) {
  #Grid li {
    width: 170px;
    padding-top: 5px;
    margin-bottom: 3%;
    align-self: center;
  }
}

/* 2 COL */

@media (max-width: 600px) {
  #Grid li {
    width: 170px;
    padding-top: 5px;
    margin-bottom: 4%;
    align-self: center;

  }
}

@media (max-width: 514px) {
  #Grid li {
    width: 170px;
    padding-top: 5px;
    margin-bottom: 4%;
    align-self: center;

  }
}

/* SINGLE COL */

@media (max-width: 400px) {
  #Grid li {
    width: 170px;
    padding-top: 5px;
    margin-bottom: 5%;
    align-self: center;
  }
}
/* -- FLUID GRID STYLES -- */
li.notes a{
  text-decoration: none;
  color: rgb(10, 6, 0);
}


li.notes{
  height: auto;
  margin: 30px;
}

.col a {
  text-decoration: none;
  color: rgb(10, 6, 0);
}

.p-3 {
  z-index: 0;
}


footer {
  background-color: #fafafa;
  padding: 4rem 0;
  text-align: center;
}

h2 {
  color: #212529;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.tools-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tool {
  margin: 2rem;
  padding: 0.2rem 0.3rem;
  background-color: #a2a2a2;
  border: none;
  color: rgb(20, 20, 20);
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  line-height: 1.2;
}

.tool:hover {
  transform: translateY(-5px);
  background-color: #0059ff;
  color: #ffffff;
}

@media (max-width: 576px) {
  .tool {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    width: calc(70% - 2rem);
  }
}

a.tool {
  text-decoration: none;
}


/* Grid starts here =====================================================================================grid starts here  */



.sub-cont {
  margin-bottom: 5px !important;
}

.sub-cont {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  /* align-items: stretch; */
  justify-content: space-around;
}



.container-li {
  z-index: 1;
  padding: 4px;
  border: 1px solid #999;
  min-height: 150px !important;
  color: #0059ff;
  padding: 2px;
  margin: 10px 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
  .container-li {
    margin: 0px;
    padding: 4px;
  }

  /* Styles to apply when the screen is 600px wide or less */
}

.container-li:hover {
  padding: 4px;
  border: 1px solid #cfcfcf;
  background-color: #dbdbdb !important;
  border-radius: 4px;
  color: #000000;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
}

/* button ======================================================== */

.btn-wrapper {
  display: flex;
  /* justify-content: space-between; */
}

.btn-primary {
  background-color: rgb(0, 0, 218);
  color: white;
  font-size: 1.2em;
  border: none;
  margin: 2px;
  box-shadow: 2px 2px 2px grey;
}

.btn-primary:hover {
  border-radius: 1em;
  border-color: #f1f1f1;
  cursor: pointer;
  background-color: rgb(0, 4, 255) !important;
  color: rgb(0, 0, 0) !important;
}