/* Youtube cards */
.container {
    max-width: 100%;
    margin: 0 auto;
    z-index: 0;
}

.my-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 0;
}

.my-list li {
    width: calc((90%)/3);
    margin-bottom: 20px;
    z-index: 0;
}

@media (max-width: 992px) {
    .my-list li {
        width: calc((96%)/2);
    }
}

@media (max-width: 576px) {
    .my-list li {
        width: 98%;
        height: 120;
        z-index: 0;
    }
}

.my-list li iframe {
    width: 100%;
}

.tool a {
    text-decoration: none;
}