* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --nav-bg-color: #212121;
    --nav-hr-color: #424242(29, 172, 255);
    --text-color: #333333;
    --h-color: #444444(0, 0, 0);
    --h-hr-color: #03dac6;
    --btn-bg-color: #2196f3(0, 70, 128);
    --btn-hr-color: #1565c0;
    --bg-color: #fafafa;
    --black-color: black;
    --text-alt-color: #03dac6;


}

body {
    font-family: "ROBOTO", sans-serif;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: var(--bg-color);
    text-align: center;
    padding: 0 2em;
}

.nav h1,
.slider h1 {
    font-size: 10vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color:  var(--h-color);
    transition: all 0.3s ease;
    z-index: 3;
}

h3.span {
    font-size: 3vw;
    letter-spacing: 0.7em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: var(--text-color);
    z-index: 4;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    position: relative;
    background-color: var(--bg-color);
    text-align: center;
    padding: 0 2em;
}

@media (min-width: 600px) {
    .slider {
        height: 600px;
    }
}

@media (min-width: 800px) {
    .slider {
        height: 400px;
    }
    .nav h1 {
        font-size: 5vw;
    }
    h3.span {
        font-size: 2vw;
    }

}



.slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
}

h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: var(--h-hr-color);
}

.slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: rgb(20, 20, 20);
    z-index: 4;
}




a {
    text-decoration: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px --h-color(99, 99, 99, 0.5);
    background: var(--nav-bg-color);
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
    position: fixed;
    top: 0;
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--text-alt-color);
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 4vw;
}

.nav-tab:hover {
    color: var(--black-color);
    background: var(--text-alt-color);
    transition: all 0.5s ease;
}

.nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--text-alt-color);
    transition: left 0.3s ease;
}

.background {
    position: absolute;
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
}


.login-btn:hover {
    color: var(--black-color) !important;
    background-color:  var(--text-alt-color) !important;
}

@media (min-width: 800px) {

    .nav h1,
    .slider h1 {
        font-size: 5vw;
    }

    .nav h2,
    .slider h2 {
        font-size: 3vw;
    }

    .nav-tab {
        font-size: 40px;
    }
}



.background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.loader span {
    color: var(--h-color);
    text-shadow: 0 0 0 var(--h-hr-color);
    -webkit-animation: loading 1s ease-in-out infinite alternate;
    animation: loading 1s ease-in-out infinite alternate;
}
