.auto-grid {
	--auto-grid-min-size: 12rem;

	display: grid;
	padding-top: 30px;
	margin-right: 30px;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	grid-gap: 1rem;
}

 a {
	text-decoration: none;
}

li.notes {
	height: 2px;
	padding: 5rem 1rem;
	text-align: center;
	font-size: 1.2rem;
	background: #e6e6e6;
	color: #000000;
}
