
	#Grid-1 {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-around;
	}

	.box {
	    width: 200px;
	    height: fit-content;
	    margin: 10px;
	    display: inline-block;
	    vertical-align: bottom;
	}

