<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!--========== CSS ==========-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

  <link rel="shortcut icon" type="image/png" href="../assets/img/notes.png">

        <title>Studify - Your One Stop Solution for Study Material </title>
        </head>
        
        <body>
        
          <!--========== SCROLL TOP ==========-->
          <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        
          </a>
        
          <!--========== HEADER ==========-->
          <header class="l-header" id="header">
            <nav class="nav bd-container">
              <a href="#" class="nav__logo">DATA SCIENCE</a>
        
              <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                  <!-- <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li> -->
                  <li class="nav__item"><a href="https://exam.studify.space/" target="_blank" class="nav__link">Quiz Evaluator</a></li>
                  <li class="nav__item"><a href="#menu" class="nav__link" target="_blank">Grade calculator</a></li>
                  <li class="nav__item"><a href="https://forms.gle/2jUCjXNoj4hVKkVy9" class="nav__link" target="_blank">Contact us</a></li>
        
                </ul>
              </div>
        
              <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
              </div>
        
            </nav>
            <div><i class='bx bx-moon change-theme' id="theme-button"></i></div>
          </header>
        
          <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
              <div class="home__container bd-container bd-grid">
                <div class="home__data">
                  <h1 class="home__title">Studify</h1>
                  <h2 class="home__subtitle">Your One Stop Solution for Study Material </h2>
                  <a href="{{ url_for('login') }}" class="button">login to continue</a>
                </div>
        
        
              </div>
        
            </section>
        
        
            <!----================================Important Link======================================-->
            <section class="menu section bd-container" id="Importantlink">
        
              <h1 class="section-title"><span class="section-subtitle">Qualifier Content</span></h1>
        
              <div class="menu__container bd-grid">
                <div class="menu__content">
                  <img src="" alt="" class="menu__img">
        
                  
                    <h3 class="services__title">Maths</h3>
                  <span class="menu__detail">&nbsp;</span>
                  <span>
                    <a href="/notes/ma1001" class="button menu__button1" style="float: left;">Notes</a>
                    <a href="/course/ns_23q1_ma1001" class="button menu__button">Lectures</a>
                  </span>
                </div>
        
                <div class="menu__content">
                  <img src="" alt="" class="menu__img"></a>
                    <h3 class="services__title"> Statistics</h3>
                 
                  <span class="menu__detail">&nbsp;</span>
                  <span>
                    <a href="notes/ma1002" class="button menu__button1" style="float: left;">Notes</a>
                    <a href="/course/ns_23q1_ma1002" class="button menu__button">Lectures</a>
                  </span>
                </div>
        
                <div class="menu__content">
                  <img src="" alt="" class="menu__img">
                  <h3 class="services__title">CT</h3>
                  <span class="menu__detail">&nbsp;</span>
                  <span>
                    <a href="/notes/cs1001" class="button menu__button1" style="float: left;">Notes</a>
                    <a href="course/ns_23q1_cs1001" class="button menu__button">Lectures</a>
                  </span>
                </div>
        
        
                <div class="menu__content">
                  <img src="" alt="" class="menu__img">
                  <h3 class="services__title">English</h3>
                  <span class="menu__detail">&nbsp;</span>
                  <span>
                    <a href="/notes/hs1001" class="button menu__button1" style="float: left;">Notes</a>
                    <a href="/course/ns_23q1_hs1001" class="button menu__button" >Lectures</a>
                  </span>

                </div>
        
        
              </div>
            </section>
        
        
        
        
            <!--========== Social media  ==========-->
            <section class="menu section bd-container" id="menu">
        
              <h1 class="section-title"><span class="section-subtitle">Social Media</span></h1>
        
              <div class="menu__container bd-grid">
                <div class="menu__content">
                  <img src="{{ url_for('static', filename='image/insta.png') }}" alt="" class="menu__img">
                  <h3 class="menu__name">Insta Handle</h3>
                  <span class="menu__detail"></span>
                  <a href="https://instagram.com/iitmbsdegree?igshid=ZDdkNTZiNTM=" target="_blank">click here </a>
                </div>
        
                <div class="menu__content">
                  <img src="{{ url_for('static', filename='image/wa.png') }}" alt="" class="menu__img">
                  <h3 class="menu__name">Whatsapp group</h3>
                  <span class="menu__detail"></span>
                  <a href="https://sites.google.com/student.onlinedegree.iitm.ac.in/iitmbs-community" target="_blank">Click here</a>
                </div>
        
                <div class="menu__content">
                  <img src="{{ url_for('static', filename='image/telegram.png') }}" alt="" class="menu__img">
                  <h3 class="menu__name">Telegram group</h3>
                  <span class="menu__detail"></span>
                  <a href="https://telegram.me/+1rNnHJdP5JViMmU1"target="_blank" >click here</a>
                </div>
        
                <div class="menu__content">
                  <img src="{{ url_for('static', filename='image/link.png') }}" alt="" class="menu__img">
                  <h3 class="menu__name">Linkedin</h3>
                  <span class="menu__detail"></span>
                  <a href="https://telegram.me/+1rNnHJdP5JViMmU1" target="_blank">click here</a>
                </div>
        
        
              </div>
            </section>     
        

          
        

            <div class="jrslm-white2 w3-center footer__copy">Made with&nbsp;<span class="heart">&#9829;</span>&nbsp;by Maan, Rajnish, Sumit & Shashank</div>

          </footer>
        

              <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        
        
  </body>
        
</html>