<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <title>Studify: Lessons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="#">Studify: Lectures</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notes</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="accordion">
            {% for level in data['course_metadata'].keys() %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#{{ level }}" aria-expanded="true" aria-controls="collapseOne">
                            {{ level.upper() }}
                            </button>
                        </h5>
                    </div>
                    <div id="{{ level }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-deck">
                                {% for course_code, course_name in data['course_metadata'][level].items() %}
                            <div class="card" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ course_name }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ course_code.upper() }}</h6>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                        <a href="/course/{{ data['prefix'] }}_{{ data['term'] }}_{{ course_code }}" class="card-link">
                                            <button class="btn btn-primary">View Lectures</button>
                                        </a>
                                        <a href="/notes/{{ data['prefix'] }}_{{ data['term'] }}_{{ course_code }}" class="card-link">
                                            <button class="btn btn-primary">View Notes</button>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/index.js')}}" ></script>
    </body>
